/*#login_panel {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 0.2;
}

#left {
    display: flex;
    flex: 0.4;
}

#right {
    display: flex;
    flex: 0.4;
}

#container_v2 {
    display: flex;
    flex-direction: row;
    flex: 0.4;
}

#container_v1 {
    display: flex;
    flex-direction: column;
}

.input_div {
    margin-bottom: 10px;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.css-input {
    font-size: 16px;
    border-width: 3px;
    border-radius: 50px;
    border-style: solid;
    padding: 7px;
    background-color: #ffffff;
    border-color: #ff0000;
    box-shadow: 2px 0px 17px 0px rgba(42, 42, 42, .65);
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
}

.css-input:focus {
    outline: none;
}

#top {
    display: flex;
    flex: 0.3;
    margin-bottom: 150px;
}

#bottom {
    display: flex;
    flex: 0.3;
}

.h1 {
    display: flex;
    text-align: center;
}
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
}

#login_panel {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
#login-header,
#login_panel p {
    margin-top: 0;
    margin-bottom: 0;
}

#login-header {
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

#login_panel {
    background: #ebebeb;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
#login_panel p {
    padding: 12px;
}

#login_panel input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

#login_panel input[type="login"],
#login_panel input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
#login_panel input[type="login"]:focus,
#login_panel input[type="password"]:focus {
    border-color: #888;
}

#login_panel input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

#login_panel input[type="submit"]:hover {
    background: #17c;
}

/* Buttons' focus effect */
#login_panel input[type="submit"]:focus {
    border-color: #05a;
}